@font-face {
    font-family: "Nordeco";
    src: url("./Nordeco-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nordeco";
    src: url("./Nordeco-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nordeco";
    src: url("./Nordeco-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}